
= form_for :period_accuracy, url: period_accuracy_path do |form|
  %h1= "Period Accuracy"
  .form-group
    = form.label :name
    = form.text_field(:name, placeholder: @user_s, value: @user_s, class: 'form-control')
  .form-group
    = form.label :date_range
    = form.date_field(:from, value: @from_s, class: 'form-control')
    = form.date_field(:to, value: @to_s, class: 'form-control')
  = form.submit('Submit', class: 'btn btn-primary')
