
= form_for :weekly_rankings, method: :get, url: weekly_rankings_path do |form|
  %h1= "Weekly Rankings"
  = form.hidden_field(:from, value: params[:weekly_rankings][:from])
  .form-group
    %table{width: '100%'}
      %thead
        %tr
          %th Name
          %th Rank
          %th Change
      %tbody
        - Answer.top_within_week(@from).each do |i|
          %tr
            %td= User.find(i[0]).name
            %td= i[1]
            %td= i[2]
  = form.submit('Done', class: 'btn btn-success')
